
/* variables */
:root {
    --accent: #F5692B;
    --bg-dark: #05090E;
    --bg-light: #EBEBEB;
    --bg-lighter: #F0EEEE;
    --text-accent: #B04017;
    --text-digit: #C6C9CC;
    --text-control: #AEABAA;
    --text-dark: #504E50;
    --shadow: rgb(174, 171, 170);
}

/* styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html,body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

main.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #FFB178, #B04017 90%);
}

.calc-body {
    width: 40rem;

    font-size: 2rem;
    border-radius: 3rem;
    padding: 5rem 1rem;
    background-color: var(--bg-light);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.calc-display {
    padding: 1rem 2rem;
    margin-bottom: 5rem;
}

.calc-display__result {
    width: 100%;
    font-size: 6rem;
    text-align: right;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-dark);
    margin-bottom: 3rem;
}

.calc-display__history {
    text-align: right;
    color: var(--text-digit);
    font-size: 2rem;
}

.calc-buttons {
    width: 100%;
}

.calc-buttons-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.calc-buttons-row:last-child {
    margin-bottom: 0;
}

.calc-button {
    height: 7rem;
    width: 7rem;
    font-size: 2rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-dark);
    background-color: var(--bg-lighter);
    text-shadow: inset 0px 0px 1px rgba(170, 170, 170, 0.15);
    box-shadow: 0px 5px 2px rgba(170, 170, 170, 0.15);
    transition: box-shadow ease-in-out 0.1s;
}

.calc-button:active {
    box-shadow: 0px 3px 1px rgba(170, 170, 170, 0.15);
}

.calc-button.digit {
    color: var(--text-control);
}

.calc-button.control {
    color: var(--accent);
}
.calc-button.x2 {
    width: 14rem; /* WIP */
    background-color: var(--accent);
    color: white;
}


